## Q1. 
Write a function get_date(int) that takes a param number_of_days and if the number is
odd return (current_date + number_of_days) else return (current_date - number_of_days)

In [1]:
import datetime as dt
import time as tm

def get_date(days):
    if (days % 2) != 0:
        return dt.datetime.today() + dt.timedelta(days=days)
    else:
        return dt.datetime.today() - dt.timedelta(days=days)

In [2]:
daysODD = 9
daysEVEN = 6
print(f"EVEN Date : {get_date(daysEVEN)}")
print(f"ODD Date : {get_date(daysODD)}")

EVEN Date : 2021-08-02 02:00:53.589399
ODD Date : 2021-08-17 02:00:53.589399

## Q2. 
Write a function stringify using map that takes a list of strings and a function and
converts each string into separate string
Input =['devnation', 'data science', 'requires', 'dedication']
Output =[[‘d’,’e’,’v’,’n’,’a’,’t’,’i’,’o’,’n’],[‘d’,’a’,’t’,’a’,’s’,’i’,’e’,’n’,’c’,’e’],
[‘r’,’e’,’q’,’u’,’i’,’r’,’e’,’s’],[‘d’,’e’,’d’,’i’,’c’,’a’,’t’,’i’,’o’,’n’]]

In [3]:
def stringify(Input):
    return list(Input)

Input = ['devnation', 'data science', 'requires', 'dedication']
x = map(stringify, Input)
print(list(x))

[['d', 'e', 'v', 'n', 'a', 't', 'i', 'o', 'n'], ['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e'], ['r', 'e', 'q', 'u', 'i', 'r', 'e', 's'], ['d', 'e', 'd', 'i', 'c', 'a', 't', 'i', 'o', 'n']]

## Q3. 
Write a function string_case(list) using map that takes list of characters and return
tuples of tuple with containing lower and upper case of that character’s list
Final Output must contains unique tuples
Sample = ['f', 'b', 'a',’a’]
Result = ((‘F’,’F’),(‘B’,’b’),(‘A’,’a’))

In [4]:
def string_case(Sample):
    return tuple(set(map(cal_low_up, Sample)))

def cal_low_up(x):
    return x.upper(), x.lower()

In [5]:
Sample = ['f', 'b', 'a','a']
string_case(Sample)

(('F', 'f'), ('A', 'a'), ('B', 'b'))

In [6]:
Sample = ['A', 'r', 'h', 'a', 'm']
string_case(Sample)

(('A', 'a'), ('H', 'h'), ('R', 'r'), ('M', 'm'))

## Q4. 
Write a function str_join(list,str) that receives two parameters
1. List of strings
2. Single_string value
By using lambda and map create a new list that concatenates the list elements with a
string parameter
Example:
Param1 = [“a”,”b”,”c”]
Param2 = “@”
Output = [“a@”,”b@”,”c@”]

In [7]:
def str_join(my_list, str_value):
    return list(map(lambda x: x+str_value, my_list))

param1 = ["a", "b", "c"]
param2 = "@"

str_join(param1,param2)

['a@', 'b@', 'c@']

## Q5. 
Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and
finding the average cty mpg for each group.
Output should be in the list of tuples
Output = [ (5,20),(4,18),(3,16) ]
Note:
1. Use MPG.csv file
2. First index of tuple shows the number of cylinders and second index shows the average
3. Result should be sorted by first tuple index by using lambda functions

In [8]:
import csv

# Function to get unique cylinders
def all_distinct_cylinders(csv_all_data):
    all_cylinders_list = []
    
# Reading the whole data but appending only number of cylinders to list
    for ele in csv_all_data:
        all_cylinders_list.append(ele['cyl'])
    
# Prinitng first 10 number of cylinders from the list
    print(f"List of All Number of Cylinders -------> {all_cylinders_list[:15]}")

# Returning the list of unique number of cylinders
    return list(set(all_cylinders_list))

# Function to get Milage
def get_city_mpg_avg():
    
#   Reading CSV file
    with open('mpg.csv') as mpg_csv:
        csv_all_data = list(csv.DictReader(mpg_csv))
    
    all_dist_cylinders = all_distinct_cylinders(csv_all_data)
    
    resultant_list = []
    for cyl in all_dist_cylinders:
        milage_sum = 0
        car_counter = 0
        
        print(f"Current Distinct Number of Cylinders -------> {cyl}")
        
        for main_data_row in csv_all_data:
            if main_data_row['cyl'] == cyl:
                milage_sum += float(main_data_row['cty'])
                car_counter += 1
        
        print(f"Milage Sum for {cyl} Number of Cylinders -------> {milage_sum}")
        
        resultant_list.append((cyl, milage_sum / car_counter))
        resultant_list.sort(key=lambda x:x[0])

    return resultant_list

In [9]:
print("--------Calculating City Milage Average----------")
print(f"-------Average Milage according to Number of Cylinders-----\n {get_city_mpg_avg()}")

--------Calculating City Milage Average----------
List of All Number of Cylinders -------> ['4', '4', '4', '4', '6', '6', '6', '4', '4', '4', '4', '6', '6', '6', '6']
Current Distinct Number of Cylinders -------> 6
Milage Sum for 6 Number of Cylinders -------> 1281.0
Current Distinct Number of Cylinders -------> 8
Milage Sum for 8 Number of Cylinders -------> 880.0
Current Distinct Number of Cylinders -------> 4
Milage Sum for 4 Number of Cylinders -------> 1702.0
Current Distinct Number of Cylinders -------> 5
Milage Sum for 5 Number of Cylinders -------> 82.0
-------Average Milage according to Number of Cylinders-----
 [('4', 21.012345679012345), ('5', 20.5), ('6', 16.21518987341772), ('8', 12.571428571428571)]

## Q6. 
Write a function find_indexes(list,int) takes a list and integer value,
if the value exists in the list return the list containing all the index where that integer exists
else return “value don’t exist”

In [10]:
def find_indices(int_list, target):
    
    ind_list = []
    for num_idx in range(0, len(int_list)):
        if (int_list[num_idx]) == target:
            ind_list.append(num_idx)
        else:
            continue
    
    return ind_list

In [11]:
num_list = [1,2,7,5,6,7,3,5,7,8,7,6,5,7,3,5,2,7,8,7,2,7,3]
target = 7
find_indices(num_list, target)

[2, 5, 8, 10, 13, 17, 19, 21]

## Q7
Write a function to get data from a dictionary.

Let’s say this is the dictionary and I want you to get country name so we will pass list of keys like
this. [‘address’, ‘addressCountry’, ‘name’], function should return “New Zealand”. Your function
should be generaic, we can pass any dictionary and any list of keys according to that and if the
data doesn’t exist then return default value we pass when we call the function.
Sample Dictionary:

{"@context":"http:\u002F\u002Fschema.org","@type":"LodgingBusiness","name":"Seabreeze Holiday Park","url":"\u002FHotel_Review-g4475485-d2207450-Reviews-
Seabreeze_Holiday_Park-Whenuakite_Coromandel_Peninsula_Waikato_Region_North_Island.html","image":"https:\u002F\u002Fmedia-cdn.tripadvisor.com\u002Fmedia\u002Fphoto-
s\u002F09\u002F66\u002Fa0\u002F92\u002Fseabreeze-holiday-park.jpg","priceRange":"$(Based on Average Nightly Rates for a Standard Room from our
Partners)","aggregateRating":{"@type":"AggregateRating","ratingValue":"3.5","reviewCount":"152"},"address":{"@type":"PostalAddress","streetAddress":"1043 Tairua Whitianga Road
Sh25","addressLocality":"Whenuakite","addressRegion":"NorthIsland","postalCode":"3591","addressCountry":{"@type":"Country","name":"New Zealand"}}}

In [12]:
def get_value(sample_dict, keys_list, on_error="Not Found"):
    for key in keys_list:
        if key in sample_dict:
            sample_dict = sample_dict[key]
        else:
            return on_error
    return sample_dict

In [13]:
sample_dict = {"name":"Sea Park","priceRange":"$1000","address":{"postalCode":"3591","addressCountry":{"@type":"Country","name":"New Zealand"}}}
keys_list =  ["address", "addressCountry", "name"]

result = get_value(sample_dict, keys_list)
print(result)

New Zealand