# Q1. Create a function add_numbers which takes 4 parameters
1. x (integer)
2. y (integer)
3. z (integer)
4. flag (Boolean)
z and flag are optional parameters
if function receives z then function should return the sum of x y and z else
return the sum of x and y
if flag is True also print the statement
“Flag is True”

In [1]:
def add_numbers(x,y,z=None,flag=None):
    if flag is True:
        print ("Flag is True")
    if z:
        return x+y+z
    else:
        return x+y

In [2]:
add_numbers(2,3,4,flag = True)

Flag is True

9

# Q2. Write a function get_datetime(int) that takes a param number_of_days and if the number is divisible by 2 returns (current_datetime + number_of_days) and if number is divisible by 3 returns (current_datetime - number_of_days) else return current_datetime

In [3]:
import datetime as dt

In [4]:
def get_datetime(number_of_days):
    
    current_datetime = dt.datetime.today()
    
    if number_of_days % 2 :
        return current_datetime + dt.timedelta(days=number_of_days)
    
    elif number_of_days % 3 :
        return current_datetime - dt.timedelta(days=number_of_days)
    
    else:
        return current_datetime

In [5]:
get_datetime(2)

datetime.datetime(2021, 8, 4, 21, 58, 34, 586970)

In [6]:
get_datetime(7)

datetime.datetime(2021, 8, 13, 21, 58, 34, 603925)

In [7]:
get_datetime(3)

datetime.datetime(2021, 8, 9, 21, 58, 34, 621968)

In [8]:
dt.datetime.today()

datetime.datetime(2021, 8, 6, 21, 58, 34, 637836)

# Q3. Write a function concat_lst that takes two list as a parameter and combine two list together into single list
and should not contains duplicate values.
You must use loop to solve this question

In [12]:
def concat_lst(lst1,lst2):
     
    
    for x in lst2:
        if x not in lst1:
            lst1.append(x)
        
    print (lst1)

In [13]:
concat_lst([1,2,3,4],[3,4,5,6])

[1, 2, 3, 4, 5, 6]

# Q4. Write a function string_case using map that takes list of characters and return
List of tuples with containing lower and upper case of that character’s list
Final Output must contain unique tuple element

In [15]:
def string_case(my_list):
    return list(set(map(lower_upper,my_list)))
def lower_upper(x):
    return x.upper(),x.lower()

In [16]:
string_case(["a",'B',"c","D"])

[('A', 'a'), ('B', 'b'), ('D', 'd'), ('C', 'c')]

# Q7. Create a class Student with the following getters and setters
1. Constructor
a. Create an Object with following parameters
i. Name
ii. Batch No
iii. Address
iv. Age
v. Father Name
vi. City

2. New
a. Students with age more than 18 are not allowed in the school
b. Students of Lahore Islamabad Faisalabad Karachi are allowed
3. Setters
a. Name (str)
b. Batch no (int)
c. Address (str)
d. Age (str)
e. Father name (str)
f. City (str)
4. Getters
a. Name
b. Batch no
c. Address
d. Age
e. Father name
f. City
5. Create a new class called DevnationStudents which is a child class of Student
a. Write a constructor that
i. That calls the Parent Class Constructor
ii. Also save courses and marks as empty list in the child constructor
b. Write setter functions
i. Add courses
1. Takes a list of courses
2. Add only those courses in the list which are not already in the
ii. Add courses_marks
1. This takes the list of dictionaries
2. If the particular exists in the courses lists then the particular dictionary
should be added in the marks list
3. Marks list should not contains duplicate entries of same courses

c. Write getter functions
i. Get courses
ii. Get Marks

In [33]:
class Student:
    def __new__(cls,name,batch_no,address,age,father_name,city):
        if age<18 :
            
            if city == "Lahore" or city == "Islamabad" or city == "Karachi " or city == "Faslabad":
                
                inst = object.__new__(cls)
                
                return inst
class Student:            
    def __init__(self,name,batch_no,address,age,father_name,city):
        self.name=name
        self.batch_no=batch_no
        self.address=address
        self.age=age
        self.father_name=father_name
        self.city=city
        
    def set_name(self,name):
        self.name=name
        
    def set_batch_no(self,batch_no):
        self.batch_no=batch_no
        
    def set_address(self,address):
        self.address=address
        
    def set_age(self,age):
         self.age=age
        
    def set_father_name(self,father_name):
        self.father_name=father_name
        
    def set_city(self,city):
        self.city=city
        
    def get_name(self):
        return self.name
    
    def get_batch_no(self):
        return self.batch_no
    
    def get_address(self):
        return self.address
    
    def get_age(self):
         return self.age
        
    def get_father_name(self):
        return self.father_name
        
    def get_city(self):
        return self.city
    
class DevnationStudents(Student):
    def __init__(self,name,batch_no,address,age,father_name,city,courses=[],marks=[]):
        super().__init__(name,batch_no,address,age,father_name,city)
        self.courses=courses
        self.marks=marks
        
    def set_courses(self,courses):
        
        for x in courses:
            if x not in self.courses:
                self.courses.append(x)
                
    def set_marks(self,courses,marks):
        
        for x in courses:
            if x in self.courses:
                self.marks.append({"courses":x,"marks":marks})
            else:
                print("not found")
                
    def get_courses(self):
        return self.courses
    def get_marks(self):
        return self.marks

In [34]:
obj= DevnationStudents ("AbdulRehman",3,"CTN",17,"Shoukat_Ali","Karachi")
obj.set_courses({'datascience','fullstack','c++'})
obj.get_courses()

['datascience', 'c++', 'fullstack']

In [35]:
obj.set_courses({'java','python'})
obj.get_courses()

['datascience', 'c++', 'fullstack', 'python', 'java']

In [36]:
obj.set_courses({'java','python','script'})
obj.get_courses()

['datascience', 'c++', 'fullstack', 'python', 'java', 'script']

In [37]:
obj.set_marks(["java"],40)
obj.get_marks()

[{'courses': 'java', 'marks': 40}]

In [38]:
obj.set_marks(["datascience"],40)
obj.get_marks()

[{'courses': 'java', 'marks': 40}, {'courses': 'datascience', 'marks': 40}]

# Q8. Write a function get_indices that receives the list of integers nums and an integer target, return indices of
the two numbers such that they add up to target. You may assume that each input would have exactly one
solution, and you may not use the same element twice.
You can return the answer in any order.

In [39]:
def get_indices(int_list, target):
    
    for num_idx_1 in range(0, len(int_list)):
        for num_idx_2 in range(0, len(int_list)):
            if (int_list[num_idx_1] + int_list[num_idx_2]) == target:
                return num_idx_1, num_idx_2
            else:
                continue

In [40]:
int_list = [13,2,19,7,11,15]
target_num = 20

result = list(get_indices(int_list, target_num))
result

[0, 3]

# Q9. Write a function backward_number. That a receives a number and return the number in backwards
Input = 1234
Output = 4321

In [41]:
def backward_number(num):
    rev_no = 0
    while (num!=0):
        reminder = num % 10
        rev_no = (rev_no*10) + reminder
        num = num // 10
        
    return rev_no

In [42]:
backward_number(1234)

4321

# Q10
Create a function remove_duplication that takes a list and remove duplication from list. You cannot use set function

In [43]:
def remove_duplication(x):
    return list (dict.fromkeys(x))

my_list = remove_duplication([1,2,3,3,4,5,5]) 
print(my_list)

[1, 2, 3, 4, 5]

# Q5. Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and
finding the average cty mpg for each group. Output should be in the list of tuples Output = [ (5,20),(4,18),(3,16) ] Note:

Use MPG.csv file
First index of tuple shows the number of cylinders and second index shows the average
Result should be sorted by first tuple index by using lambda functions

In [66]:
import csv

def get_cty_mpg_avg():
    with open('mpg.csv') as csvfile:
        mpg=list(csv.DictReader(csvfile))
    a = set(i['cyl'] for i in mpg)
    find_res=[]
    for c in a:
        sum_val=0
        count=0
        for d in mpg:
            if d['cyl'] == c:
                sum_val+=float(d['cty'])
                count=count+1
            
        find_res.append((c,sum_val/count))
    find_res.sort(key=lambda x:x[0])
    return find_res

In [67]:
get_cty_mpg_avg()

[('4', 21.012345679012345),
 ('5', 20.5),
 ('6', 16.21518987341772),
 ('8', 12.571428571428571)]

In [65]:
mpg[:2]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

# Q6. Write a function get_hwy_mpg_avg find the average hwy mpg for each class of vehicle
Hwy mpg means highway mileage
1. Use MPG.csv file
2. Hwy mpg is found as hwy column in a file
3. Vehicle class is found as class column in a file
4. Sort Hwy Mpg in ascending order

In [68]:
import csv

def get_cty_mpg_avg():
    with open('mpg.csv') as csvfile:
        mpg=list(csv.DictReader(csvfile))
    a = set(i['class'] for i in mpg)
    find_res=[]
    for c in a:
        sum_val=0
        count=0
        for d in mpg:
            if d['class'] == c:
                sum_val+=float(d['hwy'])
                count=count+1
        find_res.append((c,sum_val/count))
    find_res.sort(key=lambda x:x[1])
    return find_res

In [69]:
get_cty_mpg_avg()

[('pickup', 16.87878787878788),
 ('suv', 18.129032258064516),
 ('minivan', 22.363636363636363),
 ('2seater', 24.8),
 ('midsize', 27.29268292682927),
 ('subcompact', 28.142857142857142),
 ('compact', 28.29787234042553)]