In [48]:
class Students:
    def __new__(cls,name,batch_no,adress,age,fathers_name,city):
        accepted_cities = ['Islamabad','Karachi','Faisalabad','Lahore']
        if age<=18 and city in accepted_cities:
            inst=object.__new__(cls)
            return inst
            
    def __init__(self,name,batch_no,adress,age,fathers_name,city):
        self.name=name
        self.batch_no=batch_no
        self.adress=adress
        self.age=age
        self.fathers_name=fathers_name
        self.city=city
        
    def get_name(self):
        return self.name
    def get_batch_no(self):
        return self.batch_no
    def get_adress(self):
        return self.adress
    def get_age(self):
        return self.age
    def get_fathers_name(self):
        return self.fathers_name
    def get_city(self):
        return self.city
        
         
    def set_name(self,x):
        self.name=x
    def set_batch_no(self,x):
        self.batch_no=x
    def set_adress(self,x):
        self.adress=x
    def set_age(self,x):
        self.age=x
    def set_fathers_name(self,x):
        self.fathers_name = x
    def set_city(self,x):
        self.city = x
        
class DevnationStudents:
    def __init__(self,name,batch_no,adress,age,fathers_name,city,courses=[],course_marks=[]):
        self.class_Students = Students(name,batch_no,adress,age,fathers_name,city)
        self.courses = courses
        self.course_marks = course_marks
        
    def set_courses(self,x):
        self.courses=x
    def set_course_marks(self,key,x):
        if key in self.courses:
            y={"course":key, "marks":x}
            self.course_marks.append(y)
    
    def get_courses(self):
        return self.courses
    def get_course_marks(self):
        return self.course_marks

In [49]:
T1 = DevnationStudents('z','d','e',21,'f','Karachi',['s','f','g'],[45,78,31])

In [50]:
T1.get_courses()

['s', 'f', 'g']

In [51]:
T1.get_course_marks()

[45, 78, 31]

In [52]:
T1.set_course_marks('s',91)

In [53]:
T1.get_course_marks()

[45, 78, 31, {'course': 's', 'marks': 91}]

In [55]:
T2 = Students('a','b','c',21,'e','f')

In [56]:
T2.get_name()

AttributeError: 'NoneType' object has no attribute 'get_name'