Q1. Create a function add_numbers which takes 4 parameters
1. x (integer)
2. y (integer)
3. z (integer)
4. flag (Boolean)
z and flag are optional parameters
if function receives z then function should return the sum of x y and z else
return the sum of x and y
if flag is True also print the statement
“Flag is True”

In [96]:
def add_numbers(x,y,z=0,flag=None):
    print (x+y+z)
     
        
    flag=True
    print("Flag is True")

In [99]:
add_numbers(2,3)

5
Flag is True

Q2. Write a function get_datetime(int) that takes a param number_of_days and
if the number is divisible by 2 returns (current_datetime + number_of_days) and
if number is divisible by 3 returns (current_datetime - number_of_days)
else return current_datetime

In [141]:
import datetime as dt

In [156]:
def get_datetime(number_of_days):
    current_datetime = dt.datetime.today()
    if number_of_days % 2 == 0:
        return current_datetime + dt.timedelta(days=number_of_days)
    if number_of_days % 3 == 0:
        return current_datetime - dt.timedelta(days=number_of_days)
    else:
        return current_datetime

In [162]:
get_datetime(7)

datetime.datetime(2021, 7, 29, 22, 53, 11, 726216)

In [163]:
get_datetime(4)

datetime.datetime(2021, 8, 2, 22, 55, 6, 399179)

In [164]:
get_datetime(3)

datetime.datetime(2021, 7, 26, 22, 55, 41, 298046)

Q3. Write a function concat_lst that takes two list as a parameter and combine two list together into single list
and should not contains duplicate values.
You must use loop to solve this question

In [213]:
def concat_lst(lst1,lst2):
    lst1 = [1,2,3,4]
    lst2 = [3,4,5,6]
    
    for x in lst2:
        if x not in lst1:
            lst1.append(x)
        
    print (lst1)

In [214]:
concat_lst([1,2,3,4],[3,4,5,6])

[1, 2, 3, 4, 5, 6]

Q4. Write a function string_case using map that takes list of characters and return
List of tuples with containing lower and upper case of that character’s list
Final Output must contain unique tuple element

In [215]:
def string_case(my_list):
    return tuple(set(map(lower_upper,my_list)))
def lower_upper(x):
    return x.upper(),x.lower()

In [219]:
string_case(["a",'B',"c","D"])

(('A', 'a'), ('C', 'c'), ('D', 'd'), ('B', 'b'))

Q10. Create a function remove_duplication that takes a list and remove duplication from list.
You cannot use set function

In [220]:
def remove_duplication(x):
    return list (dict.fromkeys(x))

my_list = remove_duplication([1,2,3,3,4,5,5]) 
print(my_list)

[1, 2, 3, 4, 5]

Q4 # Write a function backward_number. That a receives a number and return the number in backwards
Input = 1234
Output = 4321

In [158]:
def backward_number(num):
    rev_no = 0
    while (num!=0):
        reminder = num % 10
        rev_no = (rev_no*10) + reminder
        num = num // 10
        
    return rev_no

In [160]:
backward_number(1234)

4321

Q8. Write a function get_indices that receives the list of integers nums and an integer target, return indices of
the two numbers such that they add up to target. You may assume that each input would have exactly one
solution, and you may not use the same element twice.
You can return the answer in any order.

In [161]:
def twoSum(self, nums, target: int):
    for i in list:
        if sum_of_indexes=targe

NameError: name 'List' is not defined

Q7. Create a class Student with the following getters and setters
1. Constructor
a. Create an Object with following parameters
i. Name
ii. Batch No
iii. Address
iv. Age
v. Father Name
vi. City

2. New
a. Students with age more than 18 are not allowed in the school
b. Students of Lahore Islamabad Faisalabad Karachi are allowed
3. Setters
a. Name (str)
b. Batch no (int)
c. Address (str)
d. Age (str)
e. Father name (str)
f. City (str)
4. Getters
a. Name
b. Batch no
c. Address
d. Age
e. Father name
f. City
5. Create a new class called DevnationStudents which is a child class of Student
a. Write a constructor that
i. That calls the Parent Class Constructor
ii. Also save courses and marks as empty list in the child constructor
b. Write setter functions
i. Add courses
1. Takes a list of courses
2. Add only those courses in the list which are not already in the
ii. Add courses_marks
1. This takes the list of dictionaries
2. If the particular exists in the courses lists then the particular dictionary
should be added in the marks list
3. Marks list should not contains duplicate entries of same courses

c. Write getter functions
i. Get courses
ii. Get Marks

In [121]:
class Student:
    def __new__(cls,name,batch_no,address,age,father_name,city):
        if age<18 :
            
            if city == "Lahore" or city == "Islamabad" or city == "Karachi " or city == "Faslabad":
                
                inst = object.__new__(cls)
                
                return inst

In [122]:
class Student:
    def __init__(self,name,batch_no,address,age,father_name,city):
        self.name=name
        self.batch_no=batch_no
        self.address=address
        self.age=age
        self.father_name=father_name
        self.city=city
        
    def set_name(self,name):
        self.name=name
        
    def set_batch_no(self,batch_no):
        self.batch_no=batch_no
        
    def set_address(self,address):
        self.address=address
        
    def set_age(self,age):
         self.age=age
        
    def set_father_name(self,father_name):
        self.father_name=father_name
        
    def set_city(self,city):
        self.city=city
        
    def get_name(self):
        return self.name
    
    def get_batch_no(self):
        return self.batch_no
    
    def get_address(self):
        return self.address
    
    def get_age(self):
         return self.age
        
    def get_father_name(self):
        return self.father_name
        
    def get_city(self):
        return self.city

In [123]:
class DevnationStudents(Student):
    def __init__(self,name,batch_no,address,age,father_name,city,courses=[],marks=[]):
        super().__init__(name,batch_no,address,age,father_name,city)
        self.courses=courses
        self.marks=marks
        
    def set_courses(self,courses):
        
        for x in courses:
            if x not in self.courses:
                self.courses.append(x)
                
    def set_marks(self,courses,marks):
        
        for x in courses:
            if x in self.courses:
                self.marks.append({"courses":x,"marks":marks})
            else:
                print("not found")
                
    def get_courses(self):
        return self.courses
    def get_marks(self):
        return self.marks

In [127]:
obj= DevnationStudents ("AbdulRehman",3,"CTN",17,"Shoukat_Ali","Karachi")
obj.set_courses({'datascience','fullstack','c++'})
obj.get_courses()

['fullstack', 'c++', 'datascience', 'python', 'java', 'script']

In [128]:
obj.set_courses({'java','python'})
obj.get_courses()

['fullstack', 'c++', 'datascience', 'python', 'java', 'script']

In [129]:
obj.set_courses({'java','python','script'})
obj.get_courses()

['fullstack', 'c++', 'datascience', 'python', 'java', 'script']

In [130]:
obj.set_marks(["java"],40)
obj.get_marks()

[{'courses': 'java', 'marks': 40}]

In [115]:
obj.set_marks(["datascience"],40)
obj.get_marks()

[{'courses': 'java', 'marks': 40}, {'courses': 'datascience', 'marks': 40}]

Q5. Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and
finding the average cty mpg for each group.
Output should be in the list of tuples
Output = [ (5,20),(4,18),(3,16) ]
Note:
1. Use MPG.csv file
2. First index of tuple shows the number of cylinders and second index shows the average
3. Result should be sorted by first tuple index by using lambda functions

In [35]:
import csv
def dist_cyl(mpg):
    cylinders = []
    for x in mpg:
        cylinders.append(x['cyl'])
    return list(set(cylinders))

In [38]:
def get_city_mpg_avg():
    with open('mpg.csv')as csvfile:
        mpg = list(csv.DictReader(csvfile))