In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Some of calculations are required in general
energy = pd.read_excel('Energy+Indicators.xls')
energy = energy[17:244].reset_index(drop=True)
energy.drop(energy.columns[0:2], axis=1, inplace=True)
energy.rename(columns={energy.columns[0]:'Country', energy.columns[1]:'Energy Supply', energy.columns[2]:'Energy Supply per Capita', energy.columns[3]:'% Renewable'}, inplace=True)
energy.replace('...', np.NaN, inplace=True)
energy['Energy Supply'] = energy['Energy Supply'] * 1000000
energy['Country'] = energy['Country'].str.replace('\d+','')
replacement1 = {"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"}
energy['Country'].replace(replacement1, inplace=True)
energy['Country'] = energy['Country'].str.replace(r" \(.*\)","")
GDP = pd.read_csv('world_bank.csv', skiprows=4)
GDP.rename(columns={'Country Name':'Country'}, inplace=True)
replacement2 = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}
GDP['Country'].replace(replacement2, inplace=True)
ScimEn = pd.read_excel('scimagojr-3.xlsx')
GDP_last10_years = GDP.drop(GDP.columns[4:-10], axis=1)
merged_df1 = pd.merge(left=ScimEn, right=GDP_last10_years, how='left', left_on='Country', right_on='Country')
merged_all_df_big = pd.merge(left=merged_df1, right=energy, how='left', left_on='Country', right_on='Country')
merged_all_df = merged_all_df_big[merged_all_df_big['Rank'] <= 15]
remove_cols = ['Country Code', 'Indicator Name', 'Indicator Code']
merged_all_df.drop(remove_cols, axis=1, inplace=True)
merged_all_df.set_index('Country', inplace=True)

## Q1

In [3]:
def answer_one():
    return merged_all_df

In [4]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,9.172000e+09,119.0,5.707721
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030

## Q2

In [5]:
def answer_two():
    return merged_all_df_big.shape[0] - merged_all_df.shape[0]

In [6]:
answer_two()

176

## Q3

In [7]:
def answer_three():
    avgGDP = merged_all_df[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1, skipna=True).sort_values(ascending=False)
    return pd.Series(avgGDP)

In [8]:
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

## Q4

In [9]:
def answer_four():
    all_data = merged_all_df_big
    all_data['avgGDP'] = all_data[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1, skipna=True)
    all_data.sort_values(['avgGDP'], ascending=False, inplace=True)
    return (all_data.iloc[5]['2015'] - all_data.iloc[5]['2006'])

In [10]:
answer_four()

246702696075.3999

## Q5

In [11]:
def answer_five():
    return energy['Energy Supply per Capita'].mean()

In [12]:
answer_five()

90.66666666666667

## Q6

In [13]:
def answer_six():
    all_data = merged_all_df_big
    percentage = all_data.sort_values(by='% Renewable', ascending=False).iloc[0]
    return (percentage['Country'], percentage['% Renewable'])

In [14]:
answer_six()

('Bhutan', 100.0)

## Q7

In [15]:
def answer_seven():
    all_data = merged_all_df_big
    all_data['cite_ratio'] = all_data['Self-citations'] / all_data['Citations']
    all_data = all_data.sort_values(by='cite_ratio', ascending=False).iloc[0]
    return (all_data['Country'], all_data['cite_ratio'])

# We can also use the given below approach if we had set the "Country" as index 
#     return (all_data['cite_ratio'].argmax(), all_data['cite_ratio'].max())

In [16]:
answer_seven()

('French Guiana', 1.0)

## Q8

In [17]:
def answer_eight():
    all_data = merged_all_df_big
    all_data["Population"] = all_data['Energy Supply'] / all_data['Energy Supply per Capita']
    all_data = all_data.sort_values("Population", ascending=False)
    return all_data.iloc[2]['Country']

In [18]:
answer_eight()

'United States'

## Q9

In [19]:
def answer_nine():
    all_data = merged_all_df_big.dropna()
    all_data['Population'] = all_data['Energy Supply'] / all_data['Energy Supply per Capita']
    all_data['citable doc per person'] = all_data['Citable documents'] / all_data['Population']
    return all_data['citable doc per person'].corr(all_data['Energy Supply per Capita'])

In [20]:
answer_nine()

0.5139066290535494

## Q10

In [21]:
def answer_ten():
    all_data = merged_all_df_big
    top15_median = merged_all_df['% Renewable'].median(axis=0)
    all_data['HighRenew'] = all_data.apply(lambda x: 1 if x["% Renewable"] >= top15_median else 0, axis=1)
    all_data.sort_values(by='Rank', inplace=True)
    all_data.set_index('Country', inplace=True)
    return all_data['HighRenew']

In [22]:
answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
                     ..
Guyana                0
Christmas Island      0
Reunion               0
Saint Lucia           0
Mauritania            0
Name: HighRenew, Length: 191, dtype: int64

## Q11

In [23]:
def answer_eleven():
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe',
                     'Russian Federation':'Europe', 'Canada':'North America', 'Germany':'Europe', 'India':'Asia',
                     'France':'Europe', 'South Korea':'Asia', 'Italy':'Europe', 'Spain':'Europe', 'Iran':'Asia',
                     'Australia':'Australia', 'Brazil':'South America'}
    
    groups = pd.DataFrame(columns=['size', 'sum', 'mean', 'std'])
    merged_all_df['Population'] = merged_all_df['Energy Supply'] / merged_all_df['Energy Supply per Capita']
        
    for group, frame in merged_all_df.groupby(ContinentDict):
        groups.loc[group] = [len(frame), frame['Population'].sum(), frame['Population'].mean(), frame['Population'].std()]
    
    return groups

In [24]:
answer_eleven()

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

## Q12

In [25]:
def answer_twelve():
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe',
                     'Russian Federation':'Europe', 'Canada':'North America', 'Germany':'Europe', 'India':'Asia',
                     'France':'Europe', 'South Korea':'Asia', 'Italy':'Europe', 'Spain':'Europe', 'Iran':'Asia',
                     'Australia':'Australia', 'Brazil':'South America'}
    
    merged_all_df['bins'] = pd.cut(merged_all_df['% Renewable'], 5)
    
    return merged_all_df.groupby([ContinentDict, merged_all_df['bins']]).size()

In [26]:
answer_twelve()

Country        bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

## Q13

In [27]:
def answer_thirteen():
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe',
                     'Russian Federation':'Europe', 'Canada':'North America', 'Germany':'Europe', 'India':'Asia',
                     'France':'Europe', 'South Korea':'Asia', 'Italy':'Europe', 'Spain':'Europe', 'Iran':'Asia',
                     'Australia':'Australia', 'Brazil':'South America'}
    
    merged_all_df['Population'] = merged_all_df['Energy Supply'] / merged_all_df['Energy Supply per Capita']
    
    return merged_all_df['Population'].apply(lambda x: '{0:,}'.format(x))

In [28]:
answer_thirteen()

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: Population, dtype: object