In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('nobel.csv')

In [6]:
def answer_one():
    return df.head()
answer_one()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [7]:
def answer_two():
    return df['sex'].value_counts().idxmax(), df['birth_country'].value_counts().idxmax()
answer_two()

('Male', 'United States of America')

In [8]:
def answer_three():
    filter = df['birth_country'] =='United States of America'
    df1 = df.where(filter)
    df1.dropna(inplace = True)
    df1['bins'] = pd.cut(df1['year'], bins=[1900,1920, 1940, 1960, 1980, 2000])
    df1['labels'] = pd.cut(df1['year'], bins=[1900,1920, 1940, 1960, 1980, 2000], labels=["0.1%", "0.2%", "0.3%","0.4%", '0.5%'])
    return df1['bins'].value_counts().idxmax()
answer_three()

Interval(1960, 1980, closed='right')

In [15]:
def answer_five():
    filter = df['sex'] == 'Female'
    df1 = df.where(filter)
    df1.dropna(inplace = True)
    df1['Female'] = df1['sex']
    
    y = df['sex'] == 'Male'
    df2 = df.where(y)
    df2.dropna(inplace = True)
    df2['Male'] = df['sex'] 
    
    final = pd.merge(df1, df2, how='outer')
    result = final[['category','Male','Female']].groupby('category').count()
    
    return result
print(answer_five())

print('So, Imbalance is worse within categories')

           Male  Female
category
Chemistry   106       3
Economics    37       1
Medicine    137       5
Physics     114       1
So, Imbalance is worse within categories

In [12]:
def answer_six():
    x = df["sex"]=="Female"
    df1 = df.where(x)
    df1.dropna(inplace = True)
    x = df1.iloc[0]
    return x['year'], x['category'], x['full_name']
    
    
answer_six()

(1911.0, 'Chemistry', 'Marie Curie, née Sklodowska')

In [10]:
def answer_seven():
    duplicate_winners= df[df.duplicated('full_name')]
    return duplicate_winners['full_name']
answer_seven()

62                           Marie Curie, née Sklodowska
215    Comité international de la Croix Rouge (Intern...
340                                   Linus Carl Pauling
348    Comité international de la Croix Rouge (Intern...
424                                         John Bardeen
505                                     Frederick Sanger
523    Office of the United Nations High Commissioner...
Name: full_name, dtype: object

In [11]:
def answer_eleven():
    final_df = df.sort_values(by = 'birth_date', ascending =False)
    return final_df['full_name'].values[0]
    
answer_eleven()

'Malala Yousafzai'