# Data Science Lab-05

In [131]:
class Salary:
    def __init__(self,monthly_income,Currency,Type):
        self.monthly_income = monthly_income
        self.Currency = Currency
        self.Type = Type
        
    def set_monthly_income(self, monthly_income):
        self.monthly_income = monthly_income    
    def set_Currency(self, Currency):
        self.Currency =Currency
    def set_Type():
        self.Type =Type
        
    def get_monthly_income(self):
        return self.monthly_income
    def get_Currency(self):
        return self.Currency
    def get_Type(self):
        return self.Type      
    def get_annual_income(self):
        return self.monthly_income * 12
    
    
    
class Employee:
    def __init__(self,monthly_income,bonus, Currency,Type, annual_salary = None):
        self.monthly_income =monthly_income
        self.bonus = bonus
        self.annual_salary = annual_salary
        
        self.salary = Salary(monthly_income,Currency,Type)
    
    def set_ann_sal_inl_bonus(self):
        self.annual_salary = self.salary.get_annual_income() + self.bonus
    
    def get_tatal_annual_salary(self):
        a = 'Annual salary is' + str(self.annual_salary) + str(self.Currency) + 'including' + str(self.bonus) + 'Annual bonus'
        return a

In [132]:
#obj = Salary(100.00,"Euro", 'cash')
obj1 = Employee(1000, 250,'Euros','cash')

In [133]:
obj1.get_tatal_annual_salary()

AttributeError: 'Employee' object has no attribute 'Currency'