Q1. Create a class Salary with the following getters and setters
1. Constructor
a. Create an Object with following parameters
i. Monthly income
ii. Currency
iii. Type (Cash or cheque)

2. Setters
a. Monthly income (Float)
b. Currency (string)
c. Type (string)
3. Getters
a. Monthly income (Float)
b. Currency (string)
c. Type (string)
d. Annual Income
4. Create a new class called Employee which has-a `Salary`
a. Write a constructor that takes
i. Monthly_income
ii. Currency
iii. Type
iv. Bonus
v. Annual Salary with empty value
vi. Also creates a Salary object and initialize with Monthly_income
b. Write setter functions
i. Total Annual Salary including bonus
c. Write getter functions
i. Get Total Annual Salary
1. Should return the statement in this form
a. Annual Salary is 50000 Euros including 2500 Annual
Bonus
b. Here 50000 is the total Annual Salary Including Bonus
c. 2500 is the bonus amount
d. Euros are currency
e. This statement should be created automatically with
the values assigned in the object

In [119]:
class Salary:
    
#     Class constructor
    def __init__(self, monthly_income, currency, pay_type):
        self.monthly_income = monthly_income
        self.currency = currency
        self.pay_type = pay_type        
        
    
#     Setters
    def set_monthly_income(self, monthly_income):
        self.monthly_income = monthly_income
        
    def set_currency(self,currency):
        self.currency = currency
        
    def set_pay_type(self,pay_type):
        self.pay_type = pay_type                       
        
        
#     Getters
    def get_monthly_income(self):
        return self.monthly_income
        
    def get_currency(self):
        return self.currency
        
    def get_pay_type(self):
        return self.pay_type
    
    def get_annual_income(self):
        return self.monthly_income * 12
        


class Employee:
    
#     Constructor
    def __init__(self, monthly_income, currency, pay_type, bonus, annual_salary = 0):
        self.bonus = bonus
        self.monthly_income = monthly_income
        self.salary_obj = Salary(monthly_income, currency, pay_type)
        
#     Setter
    def set_total_annual_salary(self):
        return self.salary_obj.get_annual_income() + self.bonus
    
#     Getter
    def get_total_annual_salary(self):
        return f"Annual Salary is {self.set_total_annual_salary()} {self.salary_obj.get_currency()} including {self.bonus} Annual Bonus"

In [120]:
employee_1 = Employee(55000, "PKR", "Cash", 2000)

In [121]:
employee_1.set_total_annual_salary()

662000

In [122]:
employee_1.get_total_annual_salary()

'Annual Salary is 662000 PKR including 2000 Annual Bonus'

In [123]:
salary_1 = Salary(5000, "PKR", "Cash")

In [124]:
salary_1.get_monthly_income()

5000

In [125]:
salary_1.set_monthly_income(4000)

In [126]:
salary_1.get_annual_income()

48000

In [127]:
employee_1.set_total_annual_salary()

662000

In [128]:
employee_1.get_total_annual_salary()

'Annual Salary is 662000 PKR including 2000 Annual Bonus'