Q1

In [82]:
#create Salary class
class Salary :
    #constructor
    def __init__(self,Monthly_income, Currency, Type):
        self.Monthly_income = Monthly_income
        self.Currency = Currency
        self.Type = Type
    
    
    #setters
    def set_Monthly_income(self, Monthly_income):
        self.Monthly_income = Monthly_income
    
    def set_Currency(self, Currency):
        self.Currency = Currency

    def set_Type(self, Type):
        self.Type = Type
        
    #getters
    
    def get_Monthly_income(self):
        return self.Monthly_income
    
    def get_Currency(self):
        return self.Currency
    
    def get_Type(self):
        return self.Type
    
    def get_annual_income(self):   #getting the annual income
        return self.Monthly_income * 12
    
    
    #creating class of employee with has-a relationship with salary class
    
class Employee:
    #constructor
    def __init__(self,Monthly_income, Currency, Type, Bonus, Annual_salary= None):
        self.salary = Salary(Monthly_income,Currency, Type)
        self.Bonus = Bonus
        self.Annual_salary = Annual_salary

    #setters

    def set_Annual_salary(self):
        self.Annual_salary = self.salary.get_annual_income() + self.Bonus
    #getters
    
    def get_Annual_Salary(self):
        string = str(self.Annual_salary) + " " + self.salary.get_Currency() + " Annual Salary with the Bonus of " + str(self.Bonus) + " " + self.salary.get_Currency()
        return string

In [83]:
# s= Salary(1000,"Euro","Cash")

In [84]:
e=Employee(1000,"PKR", "Cash", 15)
e.set_Annual_salary()
e.get_Annual_Salary()

'12015 PKR Annual Salary with the Bonus of 15 PKR'