In [24]:
class Salary:
    
#     Class constructor
    def __init__(self,monthly_income,currency,currency_type):
        self.monthly_income = monthly_income
        self.currency = currency
        self.Currency_type = Currency_type 
        
                
#Setters
    def set_monthly_income(self,monthly_income):
        self.monthly_income = float(monthly_income)
        
    def set_currency(self,currency):
        self.currency = str(currency)
        
    def set_currency_type(self,currency_type):
        self.currency_type = str(currency_type )                  
               
#Getters function
    def get_monthly_income(self):
        return self.monthly_income
        
    def get_currency(self):
        return self.currency
        
    def get_currency_type(self):
        return self.currency_type
    
    def get_annual_income(self):
        return self.annual_income
        


class Employee:
    def __init__(self,monthly_income,currency,currency_type,Bonus,annual_income=0):
        self.Bonus=Bonus
        self.monthly_income=monthly_income
        self.obj_salary = Salary(self.monthly_income)
    
# setter function to get total salary
    def set_total_salary(self):
        return (self.monthly_income*12)
#getter function
    def get_total_annual_salary(self):
        return "Total salary is : " + str(self.obj_salary.get_total() + self.bonus)

In [25]:
employee_A = (100,"USD","cash",200)

In [30]:
employee_A.set_total_salary()

AttributeError: 'tuple' object has no attribute 'set_total_salary'

In [31]:
employee_A.get_total_annual_salary()

AttributeError: 'tuple' object has no attribute 'get_total_annual_salary'

In [36]:
Salary_1=Salary(1000,"usd","cash")
Salary_1.get_monthly_income()

NameError: name 'Currency_type' is not defined