In [27]:
import pandas as pd
import numpy as np

# read file
# data cleaning
#
def answer_one():
    energy=pd.read_excel('Energy+Indicators.xls',skiprows=17, usecols="C,D,E,F")
    energy = energy.rename(columns={'Unnamed: 2': 'country', 'Petajoules': 'Energy Supply','Gigajoules':'Energy Supply per Capita', '%':' % Renewable'})
    energy=energy.rename(index={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong",'Plurinational State of' : 'Bolivia','Switzerland17' :'Switzerland'})
    energy['Energy Supply']=energy['Energy Supply']*1000000
    energy.set_index('country', inplace = True)
    energy.head()

    # print(**********************************************************)

    GDP = pd.read_csv("world_bank.csv",skiprows = 4)
    GDP.rename(columns = {"Country Name": "country"}, inplace = True)

    GDP['country'] = GDP['country'].replace({'Korea, Rep.':'South Korea','Iran, Islamic Rep.':'Iran','Hong Kong SAR, China':'Hong Kong'})

    GDP.set_index('country', inplace = True)
    GDP=GDP.rename(index={"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"})
    GDP = GDP[GDP.columns[49:] ]

    GDP.head()


    # print(**********************************************************)


    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    ScimEn.rename(columns = {"Country": "country"}, inplace = True)
    ScimEn.set_index('country', inplace = True)
    ScimEn =ScimEn.head(15)
    ScimEn


    # **************************************************

    result = ScimEn.join([energy, GDP]).sort_values(by= 'Rank', ascending = True)
    return result.head(15)

    # **************************************************


    # result = energy.join([GDP, ScimEn])
    # result
    # result.head(15)
    # **************************************************


    # result = ScimEn.join([energy, GDP])
    # result
    # result.head(15)

    # join by inner method 
#     df_inner = pd.merge(ScimEn,energy, on='country', how='inner')

#     df_inner1 = pd.merge(df_inner, GDP, on='country', how='inner')

#     return df_inner1

In [28]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,NaN,NaN,NaN,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,NaN,NaN,NaN,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,NaN,NaN,NaN,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,NaN,NaN,NaN,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,NaN,NaN,NaN,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,NaN,NaN,NaN,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,NaN,NaN,NaN,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [29]:
def answer_two():
    total = energy + GDP + ScimEn
    return len(total) - len(result)
answer_two()

349

In [39]:
def answer_three():
    gdp =answer_one()
    avgGDP = gdp[['2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(skipna = True).sort_values(ascending = False)
    return avgGDP
answer_three()

2015    3.875826e+12
2014    3.562304e+12
2013    3.470126e+12
2012    3.391038e+12
2011    3.313404e+12
2010    3.219173e+12
2008    3.141171e+12
2007    3.095871e+12
2009    3.085834e+12
2006    2.978152e+12
dtype: float64

Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average
GDP?
This function should return a single number.

In [58]:
def answer_four():
    gdp =answer_one()
    avgGDP = gdp[['2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(skipna = True).sort_index(ascending = True)
    gdp['avgGDP'] =avgGDP
#     x =avgGDP[6]
#     x = x.pct_change()
    gdp.sort_values(by = 'avgGDP',ascending = False,inplace = True)
    return avgGDP[6]
    
# 
print(answer_four())

3391038344902.4707

In [59]:
def answer_five():
    gdp =answer_one()
    mean_energy = gdp['Energy Supply per Capita'].mean()
    return mean_energy

answer_five()

152.0

In [60]:
def answer_six():
    gdp =answer_one()
    return gdp[' % Renewable'].idxmax(),gdp[' % Renewable'].max()

answer_six()

('Brazil', 69.64803)

Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for
this new column, and what country has the highest ratio?
This function should return a tuple with the name of the country and the ratio

In [66]:
def answer_seven():
    gdp =answer_one()
    total = gdp['Self-citations'].sum(axis=0,skipna=False)
    gdp['ratio'] = (['Self-citations']/total).max().sort_values()
    return gdp['ratio']

answer_seven()

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is
the third most populous country according to this estimate?
This function should return a single string value.

In [70]:
def answer_eight():
    gdp =answer_one()

    gdp['population'] = gdp['Energy Supply']/gdp['Energy Supply per Capita']
    gdp.sort_values(by='population',ascending = False,inplace= True)

    return  gdp['population'][2]
answer_eight()

143500000.0

In [71]:
# Create a column that estimates the number of citable documents per person. 
# What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).
# 
# 
def answer_nine():
    df = answer_one()
    df['population']=df['Energy Supply']/df['Energy Supply per Capita']
    df['citable documents per person']=df['Citable documents']/df['population']
    df['citable documents per person']=(df['citable documents per person'])
#     relation = df['citable documents per person'].corr(df['Energy Supply per Capita'])
    return df['citable documents per person']
answer_nine()

country
China                      NaN
United States              NaN
Japan                      NaN
United Kingdom             NaN
Russian Federation    0.000128
Canada                  0.0005
Germany               0.000209
India                 0.000012
France                     NaN
South Korea                NaN
Italy                      NaN
Spain                      NaN
Iran                       NaN
Australia                  NaN
Brazil                0.000042
Name: citable documents per person, dtype: object

In [72]:
def answer_ten():
    df = answer_one()
    renewable_mean = df[' % Renewable'].median()       
    def function(x):
        if x>=renewable_mean:
            return 1
        else:
            return 0
    df['HighRenew']=df[' % Renewable'].map(lambda x:1 if x>=renewable_mean else 0)
    df.sort_values(by='Rank',ascending = True)
    return(df['HighRenew'])
print(answer_ten())

country
China                 0
United States         0
Japan                 0
United Kingdom        0
Russian Federation    0
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 0
Spain                 0
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [76]:
def answer_eleven():
    df = answer_one()
    df['population']=df['Energy Supply']/df['Energy Supply per Capita']
    df['population'] = np.float64(df['population'])
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe', 'Russian Federation':'Europe', 'Canada':'North America','Germany':'Europe','India':'Asia','France':'Europe','South Korea':'Asia', 'Italy':'Europe', 'Spain':'Europe','Iran':'Asia','Australia':'Australia','Brazil':'South America'}
    
    df.rename(index=ContinentDict,inplace=True)
    df.reset_index(inplace = True)
    functions = ['size', 'sum', 'mean', 'std']
    result = df[['country','population']].groupby('country').agg(functions)
    return(result)
answer_eleven()

              population
                    size           sum          mean           std
country
Asia                   5  1.276731e+09  1.276731e+09           NaN
Australia              1  0.000000e+00           NaN           NaN
Europe                 6  2.238697e+08  1.119348e+08  4.463987e+07
North America          2  3.523986e+07  3.523986e+07           NaN
South America          1  2.059153e+08  2.059153e+08           NaN

In [ ]:
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays
the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for
the estimated population of each country.

Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins.
How many countries are in each of these groups?
This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not
include groups with no countries.

In [79]:
def answer_twelve():
    df = answer_one()
    df1 = answer_eleven()
#     x = df1.head(5)
#     df['Country']= x.index
    df['bin'] = pd.qcut(df[' % Renewable'], q=5)     # Cut % Renewable into 5 bins

    grouped = df.groupby(['bin'])


    return grouped

answer_twelve()

# Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Do not
round the results.
e.g. 317615384.61538464 -> 317,615,384.61538464
This function should return a Series PopEst whose index is the country name and whose values are the
population estimate string.

In [194]:
def answer_thirteen():
    df['population']=df['Energy Supply']/df['Energy Supply per Capita']
    str(pd.Series(df['population']))
    return df['population'] 

answer_thirteen()

country
Brazil                 205915254.237288
Canada                  35239864.864865
Germany                 80369696.969697
India                 1276730769.230769
Russian Federation          143500000.0
Name: population, dtype: object