In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_pullfiles = pd.read_csv('pull_files.csv')
df_pull = pd.read_csv('pulls.csv')

In [3]:
df_pullfiles.head()

         pid                                   file
0  163314316        test/files/pos/t5638/Among.java
1  163314316       test/files/pos/t5638/Usage.scala
2  163314316             test/files/pos/t9291.scala
3  163314316             test/files/run/t8348.check
4  163314316  test/files/run/t8348/TableColumn.java

In [4]:
df_pull.info

<bound method DataFrame.info of             pid       user                  date
0     163314316     hrhino  2018-01-16T23:29:16Z
1     163061502   joroKr21  2018-01-15T23:44:52Z
2     163057333  mkeskells  2018-01-15T23:05:06Z
3     162985594      lrytz  2018-01-15T15:52:39Z
4     162838837  zuvizudar  2018-01-14T19:16:16Z
...         ...        ...                   ...
6195     547941    xeno-by  2011-12-01T16:16:42Z
6196     547354    szeiger  2011-12-01T14:03:23Z
6197     547150    odersky  2011-12-01T12:39:40Z
6198     547003    robinst  2011-12-01T11:42:26Z
6199     546847    odersky  2011-12-01T10:41:01Z

[6200 rows x 3 columns]>

In [5]:
df_pull

            pid       user                  date
0     163314316     hrhino  2018-01-16T23:29:16Z
1     163061502   joroKr21  2018-01-15T23:44:52Z
2     163057333  mkeskells  2018-01-15T23:05:06Z
3     162985594      lrytz  2018-01-15T15:52:39Z
4     162838837  zuvizudar  2018-01-14T19:16:16Z
...         ...        ...                   ...
6195     547941    xeno-by  2011-12-01T16:16:42Z
6196     547354    szeiger  2011-12-01T14:03:23Z
6197     547150    odersky  2011-12-01T12:39:40Z
6198     547003    robinst  2011-12-01T11:42:26Z
6199     546847    odersky  2011-12-01T10:41:01Z

[6200 rows x 3 columns]

In [6]:
df_pull.dtypes

pid      int64
user    object
date    object
dtype: object

In [7]:
df['date'] = pd.to_datetime(df_pull['date'])

NameError: name 'df' is not defined

In [ ]:
df.dtypes

In [ ]:
df = pd.merge(df_pullfiles, df_pull, how='inner', on='pid')

In [ ]:
df

In [ ]:
df['date'] = pd.to_datetime(df_pull['date'])

In [ ]:
df.dtypes

In [ ]:
def extract_month():
    df['date'] =df['date'].dt.month_name()

    return df
extract_month()

In [ ]:
sns.countplot(x = 'date', data = df);

In [ ]:
df

In [ ]:
# dff.set_index('user')
def answer_four():
    result = df[['user','pid']].groupby('user').count()
    result.sort_values(by = 'pid', ascending =False, inplace = True)
    result = result.head(10)
    return result.plot.bar(y='pid',figsize=(15, 8))
    
# result.plot.hist(by = 'pid', bins=12)
# plt.hist(result, bins=5)
answer_four()

In [ ]:
def answer_five():
    result = df[['user','pid']].groupby('user').count()
    result.sort_values(by = 'pid', ascending =False, inplace = True)
    # result = result.head(10)
    # result.plot.bar(y='pid',figsize=(15, 8))

    result.plot.hist(by = 'pid', bins=12)
    plt.title('Is the project welcoming to the new Contributors ?')
    return plt.show()
answer_five()

In [ ]:
df.hist()

In [ ]:
def answer_six():
    last_ten = df[['file','pid']].groupby('pid').count()
    last_ten.sort_values(by = 'file', ascending =True, inplace = True)
    return last_ten.head(10)
answer_six()

In [ ]:
def answer_seven():
    file = 'src/compiler/scala/reflect/reify/phases/Calculate.scala'
    x = df[df['file'] == file]
    y = x[['file','user']].groupby('user').count()
    y.sort_values(by = 'file', ascending =False, inplace = True)
    return y[0:3]

answer_seven()

In [ ]:
def answer_eight():
    file = 'src/compiler/scala/reflect/reify/phases/Calculate.scala'
    x = df[df['file'] == file]
    
    x.sort_values(by = 'date', ascending =True, inplace = True)
    final =  x.head(10)
    return final['user']
answer_eight()

In [ ]:
df['user'].count()