Q10. Create a function remove_duplication that takes a list and remove duplication from list.
You cannot use set function

In [1]:
def remove_duplication (list1): # created the function to remove duplication
    #We know set and dictionaries have no duplication
    #we cant use set, but we will use dictionary
    
    dic_list = dict.fromkeys(list1) # this function will assign the elements of the list into new dictionary's keys
    # dictionary doesnt accept duplication in keys so there is no duplicated keys
    
    newlist = list(dic_list)        # now convert it into the list
    return newlist # returning new non duplicated list

In [2]:
#calling of the function and passing the list with duplication
remove_duplication(["ali", "bilal", "ali","ali","asad"])

['ali', 'bilal', 'asad']

Q9. Write a function backward_number. That a receives a number and return the number in backwards.

Input = 1234

Output = 4321

In [3]:
def backward_number(numbers): #function created receiving the numbers in integer
    str_numbers = str(numbers)  #converting the int figure into str using str funciton
    str_backward_numbers = str_numbers[::-1] #now i sliced the string start from the end and end at 0 index, start from -1 index and go one step backward
    int_backward_numbers = int(str_backward_numbers) #converting into integer by using int function
    return int_backward_numbers

In [4]:
backward_number(1234)

4321

Q8. Write a function get_indices that receives the list of integers nums and an integer target, return indices of
the two numbers such that they add up to target. You may assume that each input would have exactly one
solution, and you may not use the same element twice.
You can return the answer in any order.

In [11]:
def get_indices(nums, target): #creating the fucntion
    #making the nested for loop to check between two indexes 
    for i in range(len(nums)) : 
        for j in range(len(nums)):
            if nums[i] != nums[j] and nums[i] + nums[j] == target : #here it will check it will not use same element twice and achieve the target or not
                #put the index numbers in list and return them
                out_put_index = [i,j] 
                return out_put_index

In [13]:
get_indices([1,7,2,5,3,4],3) # passing the list with targeted number

[0, 2]

Q1. Create a function add_numbers which takes 4 parameters
    1. x (integer)
    2. y (integer)
    3. z (integer)
    4. flag (Boolean)
    
z and flag are optional parameters.

if function receives z then function should return the sum of x y and z else,
return the sum of x and y.

if flag is True also print the statement
“Flag is True”

In [19]:
def add_numbers(x,y,z=None,flag=None): #creating the function and make  z and flag optional by passing none
    if z != None: # if we pass the value of z it will add all three int
        sum=  x+y+z
    else: # else it will add only two passed elements
        sum= x+y
    
    if flag == True: # if the flag is passed with true parameter then it will print and return along with sum
        flag = "Flag is True"

        return sum, flag
    else: #else it will return the sum
        return sum

In [20]:
add_numbers(1,2,4,True) # passing all four parameters

(7, 'Flag is True')

In [21]:
add_numbers(1,2,4) # passing only three parameters

7

In [23]:
add_numbers(1,2) # passing only two parameters

3

Q2. Write a function get_datetime(int) that takes a param number_of_days and
if the number is divisible by 2 returns (current_datetime + number_of_days) and
if number is divisible by 3 returns (current_datetime - number_of_days)
else return current_datetime

In [28]:
import datetime as dt #importing the library for date and time 

def get_datetime(number_of_days): #make the funtion taking param of number of days
    current_datetime = dt.datetime.now() # by using libraay's function we import the current date and time
    
    if number_of_days % 2 ==0 : #here we check the param is divisble by 2 or not
        
        number_of_days = dt.timedelta(days =number_of_days) # use the function of the time delta to manipulate the date time
        return (current_datetime + number_of_days) #addition into the current date 
    
    if number_of_days % 3 ==0: #here we check the param is divisble by 3 or not
        
        number_of_days = dt.timedelta(days =number_of_days)
        return (current_datetime - number_of_days) #substraction into the current date 
    
    else: 
        return current_datetime

In [29]:
get_datetime(4) # for divisible by 2

datetime.datetime(2021, 8, 3, 15, 23, 47, 371430)

In [31]:
get_datetime(9) # for divisible by 3

datetime.datetime(2021, 7, 21, 15, 23, 53, 653477)

In [32]:
get_datetime(11) # for not divisible both 2 and 3

datetime.datetime(2021, 7, 30, 15, 23, 53, 861532)

Q3. Write a function concat_lst that takes two list as a parameter and combine two list together into single list
and should not contains duplicate values.
You must use loop to solve this question

In [35]:
def concat_lst(list1,list2): # creating the function taking two lists
    for i in list2 : # run loop of all elements in list 2
        list1.append(i) # and append them to the list1
    
    # to remove the duplicatin we use fromkeys function to make them dictionary keys and then make them list using list function    
    concat = list (dict.fromkeys (list1))
    return concat

In [36]:
concat_lst(["Naveed", "Asad"],["Ahmad", "Hamid","Asad"]) #passing to lists with duplicated values

['Naveed', 'Asad', 'Ahmad', 'Hamid']

Q4. Write a function string_case using map that takes list of characters and return
List of tuples with containing lower and upper case of that character’s list
Final Output must contain unique tuple element

In [43]:
# created the funtion of upper_and_lower_case return the upper and lower case, it will be used by map funciton in string_case function
def upper_and_lower_case (ul): 
    return (ul.upper(), ul.lower()) # upper and lower function will make the case upper and lower

def string_case (list_case):
    #used the map function and then convert into the set to make it unique and then convert into tuple as required
    return tuple (set (map (upper_and_lower_case,list_case)))

In [44]:
string_case(['l','k','y','y','f'])

(('Y', 'y'), ('F', 'f'), ('K', 'k'), ('L', 'l'))

Q5. Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and
finding the average cty mpg for each group.

Output should be in the list of tuples.

Output = [ (5,20),(4,18),(3,16) ]

Note:
    1. Use MPG.csv file
    2. First index of tuple shows the number of cylinders and second index shows the average
    3. Result should be sorted by first tuple index by using lambda functions

In [106]:
import csv 

def unique_cylinder(mpg): #created the funtion to make the distinct cylinders
    unique_cylinders = [] #creat the empty list to store types of cylinders in cars
    for i in mpg :
        unique_cylinders.append (i['cyl'])
    return list(set(unique_cylinders))

def get_city_mpg_avg (): #created the function
    with open ("mpg.csv") as opened_csvfile: # opening and reading the file
        mpg = list (csv.DictReader(opened_csvfile)) #converted into the dictionary and then into list
        
    #calling the  unique_cylinder funtion
    cylinders = unique_cylinder(mpg)
    Final_output = [] # making the empty list to append the final output
    for j in cylinders :
        sum_of_cty = 0
        number_of_cars = 0
        for k in mpg :
            if k['cyl'] == j:
                sum_of_cty = sum_of_cty + float (k['cty'])
                number_of_cars += 1
        Final_output.append((j,sum_of_cty/number_of_cars) )

    Final_output.sort(key=lambda x:x[0])
    return Final_output

In [107]:
get_city_mpg_avg()

[('4', 21.012345679012345),
 ('5', 20.5),
 ('6', 16.21518987341772),
 ('8', 12.571428571428571)]